//- Global site tag (gtag.js) - Google Analytics
mixin googleAnalytics__GlobalSiteTag__head(analyticsId)
    script(async src=`https://www.googletagmanager.com/gtag/js?id=${analyticsId}`)
    script(type="text/javascript").
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', "!{analyticsId}");
