extends layout.pug 

block head
    title=`PIWIMI | psikotes lucu`
    meta(property='og:title' content=`PIWIMI`)
    meta(property='og:description' content=``)
    meta(property='og:image' content=``)
    meta(property='og:image:alt' content=``)

block body_body
    ul.body__test-section
        .test__conetnt
            img.content__img--thumb(src="")
            p.title(src="")
            // 몇명이 플레이했는지
            .users
        img.body__img--working(src='https://storage.googleapis.com/pwm-res/web/home/working_0.jpg')
    script(src='/public/js/home.bundle.js')