extends layout.pug 

block head
    include mixins/opengraph.pug
    if content.opengraph
        +ogHome(content.opengraph)

mixin sectionHeader(icon, text)
    .home__header--common.mb-3
        h3
            i.fas.d-inline(class=`fa-${icon}`)=`    ${text}`

block body
    include mixins/card.pug
    .body
        //- BEST 심리테스트
        .home__section.mb-3
            +sectionHeader('crown', 'TERBAIK')
            .best__content
                each best in content.best
                    +bigCard(best)
        //- 최신 심리테스트
        .home__section.mb-3
            +sectionHeader('star', 'BARU')
            each psy in content.psys
                +smallCard(psy)
            .card.card-small.card-working.d-flex.bg-cl-1
                a.d-flex.f-c(href=`/about-us`)
                    .cl-6.fs-1.fw-bold.ta-r='Kami membuat PIWIMI'
                    .cl-6.fs-1.fw-bold.ta-r
                        | Siapa Kami?
    script(src='/public/js/home.bundle.js')