extends layout.pug 

block head
    include mixins/opengraph.pug
    include mixins/structuredResult.pug
    +breadcrumb(content.psys)
    if content.opengraph
        +ogHome(content.opengraph)

mixin sectionHeader(icon, text)
    .home__header--common.mb-3
        h3
            i.fas.d-inline(class=`fa-${icon}`)=`    ${text}`

block body
    include mixins/card.pug
    .body
        //- Newest 심리테스트
        .home__section.mb-3
            +sectionHeader('grin-stars', 'Terbaik')
            .best__content
                each newest in content.newest
                    +bigCard(newest)
        //- 심리테스트 리스트
        .home__section.mb-3
            +sectionHeader('list-ul', 'Psikotes')
            each psy in content.psys
                +smallCard(psy)
        .home__section.mb-3
            +sectionHeader('users', 'Siapa Kami')
            .card.card-small.card-working.d-flex.bg-cl-1
                a.d-flex.f-c(href=`/about-us`)
                    .cl-6.fs-1.fw-bold.ta-r='Kami membuat PIWIMI'
                    .cl-6.fs-1.fw-bold.ta-r
                        | Tentang Kami
    script(src='/public/js/home.bundle.js')