extends layout.pug 

block content
    .content_body
        .test_header 
        .test_selections
            each answer in answers
                .selection_box 
                    .selection_text=answer