:root {
    --app-color: #ffffff;
    --background-color: #edeae5;
    --border-color: #c3b8b4;
    --highlight-color1: #fce181;
    --highlight-color1-pressed: #fef9c7;
    --highlight-color2: #026670;
    --highlight-color2-pressed: #9fedd7;

    --text-color-highlight: #000000;
    --text-color-normal: #333333;
    --text-color-gray: #666666;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color-normal);
}

#Background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

#App {
    position: fixed;
    left: calc(50% - 25%);
    width: 50%;
    height: 100%;
    padding: 5px 10px;

    background-color: var(--app-color);
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom: none;
}

.header {
    width: 100%;
    height: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;

    color: var(--text-color-gray);
    text-align: center;
    font-size: 8px;
}

.content_body {
    width: 100%;
}

.test_selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection_box {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 0 20px;

    width: 50%;
    height: 50px;

    border-radius: 25px;
    border: 1px solid var(--border-color);
}

.selection_box:hover {
    background-color: var(--highlight-color1);
}
.selection_box:active {
    background-color: var(--highlight-color1-pressed);
}
