@use 'vars'

*
    box-sizing: border-box
    width: 100%
    padding: 0
    margin: 0
    font-family: 'Noto Sans', sans-serif
    text-align: center

// root font size
html
    @media screen and (max-device-width: 768px)
        font-size: 2px
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px)
        font-size: 1.5px
    @media screen and (min-device-width: 1024px)
        font-size: 1px

#Background
    position: fixed
    display: flex
    justify-content: center
    width: 100vw
    height: 100%
    overflow-y: auto

#App
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    min-height: 100vh

    @media screen and (max-device-width: 768px)
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px)
    @media screen and (min-device-width: 1024px)
        width: 480rem

// APP
.navbar
    height: vars.$col*2
    padding: 0.5* vars.$col 0.5*vars.$pad

.body
    display: flex
    flex-direction: column
    align-items: center
    padding: vars.$pad vars.$pad
    margin-top: 0.5 * vars.$pad
    margin-bottom: 0.5 * vars.$pad
    flex: 1

.footer
    padding-top: 0.5 * vars.$col
    padding-bottom: vars.$col
    text-align: center
    font-size: 8rem
