$app-color: #ffffff
$background-color: #c6d0d8
$border-color: #c3b8b4
$shadow-color: #999999
$alert-color: yellow
$warning-color: red
$right-color: green
$background-color-deactivated: #777777
$highlight-color-deactivate: #eeeeee
$highlight-color-deactivate-pressed: #aaaaaa
$highlight-color1: #fdf6e0
$highlight-color1-pressed: #fef9c7
$highlight-color2: #92e5e2
$highlight-color2-pressed: #5eaadd
$text-color-highlight: #000000
$text-color-normal: #082c3b
$text-color-gray: #008d7b
