$app-color: #ffffff
$background-color: #edeae5
$border-color: #c3b8b4
$highlight-color-deactivate: #eeeeee
$highlight-color-deactivate-pressed: #aaaaaa
$highlight-color1: #fce181
$highlight-color1-pressed: #fef9c7
$highlight-color2: #8cc63f
$highlight-color2-pressed: #7fae42
$text-color-highlight: #000000
$text-color-normal: #333333
$text-color-gray: #666666
