
@use '../vars'
$border-radius: 20rem

.bd-rd
    border-radius: $border-radius

.bd-rd-t
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius

.bd-rd-b
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius

.bd-rd-l
    border-top-left-radius: $border-radius
    border-bottom-left-radius: $border-radius

.bd-rd-r
    border-top-right-radius: $border-radius
    border-bottom-right-radius: $border-radius

.bd-6
    border: 1px solid vars.$color6
.bd-5
    border: 1px solid vars.$color5
.bd-4
    border: 1px solid vars.$color4
.bd-3
    border: 1px solid vars.$color3
.bd-2
    border: 1px solid vars.$color2
.bd-1
    border: 1px solid vars.$color1

.bd-lr
    border-top: none
    border-bottom: none
    border-left: 1px solid vars.$color6

.bd-circle
    border-radius: 50%
