mixin icon(icon, link)
    a(href=link target="_")
        h3
            i.fab.cl-6(class=`fa-${icon}`)

mixin footer()
    footer.footer.bd-rd-t.bg-cl-1.cl-6
        .d-flex
            .f-4
                h6.contact_github.cl-6="Piwimi"
        .d-flex.f-center.mt-4
            .d-flex.w-40
                +icon('instagram','https://www.instagram.com/piwimi_id')
                +icon('facebook','https://www.facebook.com/piwimi')
                +icon('twitter','https://www.twitter.com/piwimi')