mixin navbar()
    .navbar.bd-rd-b.bg-cl-1.cl-6.f-r
        .f-1
            a(href="/")
                img(src="https://storage.googleapis.com/pwm-res/web/common/logo_light.png").nav__img--logo
        .f-3