// Go to www.addthis.com/dashboard to customize your tools
mixin snsShareWithAsk()
    .d-flex.f-c.f-center.f-gap-c
        .addthis__section--promote-sharing
            .promote-sharing__chatbubble
                .chatbubble__body
                    .chatbubble__body--text.ta-c
                        p="Tidak kah anda penasaran dengan hasil teman anda?"
                    .chatbubble__body--control.d-flex.f-r
                        button.chatbubble__button.f-1#chatbubbleYes="Iya"
                        .f-2
                        button.chatbubble__button.f-1#chatbubbleNo="Tidak"
                .chatbubble__tail
                    img(src="https://storage.googleapis.com/pwm-res/web/result/result_promote_share_bubble_tail.png")
            .promote-sharing__character
                img(src="https://storage.googleapis.com/pwm-res/web/result/result_promote_share_character_before.png")
        .addthis_section--share-with-ask
            .addthis_inline_share_toolbox_ry3o.pr-4
    script(defer src='/public/js/snsShareWithAsk.bundle.js')


mixin snsShare()
    .addthis_section--share-normal
        .addthis_inline_share_toolbox_ry3o_bdar
    script(defer src='/public/js/snsShareWithAsk.bundle.js')