// Go to www.addthis.com/dashboard to customize your tools
mixin socialMediaShareBlock()
    .social-media__block--addthis.flex__gap--col
        .addthis__section--promote-sharing
            .promote-sharing__chatbubble
                .chatbubble__body
                    .chatbubble__body--text
                        p="Tidak kah anda penasaran dengan hasil teman anda?"
                    .chatbubble__body--control.flex__row
                        button.chatbubble__button.flex__item--1#chatbubbleYes="Iya"
                        .flex__item--2
                        button.chatbubble__button.flex__item--1#chatbubbleNo="Tidak"
                .chatbubble__tail
                    img(src="https://storage.googleapis.com/pwm-res/web/result/result_promote_share_bubble_tail.png")
            .promote-sharing__character
                img(src="https://storage.googleapis.com/pwm-res/web/result/result_promote_share_character_before.png")
        .addthis_section--share-toolbox
            .addthis_inline_share_toolbox_ry3o
            .addthis_inline_share_toolbox_ry3o_41o2
    script(defer src='/public/js/socialMediaShareBlock.bundle.js')