@use '../vars'

// SECTIONS
.psycho__section--content
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 20rem
    flex: 1
.psycho__section--control
    & > div > button
        height: 1.25 * vars.$col

// INTRO SCREEN
.content-header
    &>h1
        font-weight: 700
        font-size: 32rem
.content-description
    font-size: 18rem
.content-notice
    & > p
        color: #666666
        font-size: 14rem

// PLAYING SCREEN
.question__index
    font-size: 18rem
.question__query
    height: 6 * 28rem
    &>p
        font-size: 28rem
        font-weight: 700
        text-align: center
.question__bt--yes-no
    display: flex
    align-items: center
    flex: 1
    & > button
        font-size: 28rem
        height: 2 * vars.$col
.question__bt--yes
    color: vars.$right-color
    border-top-right-radius: 0px
    border-bottom-right-radius: 0px
.question__bt--no
    color: vars.$warning-color
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px

// content
.psycho__control-row
    display: flex
    justify-content: space-between

    margin-bottom: 50px

.bt_submit#submit
    flex: 1

.bt_submit
    min-width: 13ch
    padding: 10px 20px

    font-size: 20rem

.content-selections
    display: flex
    flex-direction: column
    align-items: center

    margin: 40px 0
    padding: 0 50px
    text-align: center

.selection_box
    display: flex
    align-items: center

    margin: 5px 0
    padding: 0 20px

    height: 50px

    border-radius: 25px
    border: 1px solid vars.$border-color

    &:hover
        background-color: vars.$highlight-color1
        cursor: pointer

    &:active
        background-color: vars.$highlight-color1-pressed
        cursor: pointer

// Additional classnames
.deactivated
    background-color: vars.$highlight-color-deactivate
    &:active
        background-color: vars.$highlight-color-deactivate-pressed
.completed
    background-color: vars.$highlight-color2
    font-weight: 700
    animation: completed 1s infinite
    &:active
        background-color: vars.$highlight-color2-pressed
.selected
    cursor: default
.unselected
    background-color: #eeeeee
    color: #999999
.content-loading
    display: flex
.hidden
    visibility: hidden

// Animation
@keyframes completed
    0%
        transform: scale(1,1)
    50%
        transform: scale(1.05, 1.05)
    100%
        transform: scale(1, 1)

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1
